<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Prayer</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />



    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AzanSystemNew.Web.styles.css" asp-append-version="true" /> *@
</head>
<body>

    <div >
@*         <main role="main"> *@
             @RenderBody()
        @* </main> *@
    </div>
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/utils/sweetalert2.all.min.js"></script>
    <script src="~/js/utils/hijri-date.js"></script>
    <script type="module" src="~/js/Module/index.js"></script>
    <script type="module" src="~/js/helpers/main.js"></script>

    <script src="~/js/main.js"></script>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
